.App-link {
  color: #61dafb;
}

.justifyCenter {
  justify-content: center !important;
}

/* Styling wildcards */
.underline {
  text-decoration: underline;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-1 {
  margin: 1rem
}

.marginL-1 {
  margin-left: 1rem
}

.imageWithText {
  align-items: center;
  display: flex;
}