.App-link {
  color: #61dafb;
}

.justifyCenter {
  justify-content: center !important;
}

/* Styling wildcards */
.underline {
  text-decoration: underline;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-1{
  margin: 1rem
}